# Node modules
node_modules
client/node_modules
server/node_modules

# Lock files
package-lock.json
server/package-lock.json

# Build outputs
dist
dist-ssr
.vite
*.local
.vercel

# Editor config & clutter
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
