/* NAVBAR */
.navbar {
  width: 100%;
  height: 60px;
  background-color: #020617;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #1e293b;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-buttons a {
  margin-left: 20px;
  color: #cbd5f5;
  font-weight: 500;
}

.nav-buttons a:hover {
  color: white;
}

/* HERO */
.hero-container {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  max-width: 500px;
}

.hero-content h1 {
  font-size: 2.5rem;
}

.hero-content p {
  color: #94a3b8;
  margin: 10px 0 30px;
}

.auth-box {
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
}

/* ABOUT */
.about-section {
  padding: 80px 20px;
  text-align: center;
}

.about-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.about-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
}