*{
    margin: 0%;
    padding: 0%;
}
.navbar {
    width: 98%;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000; 
}

.logo img{
    height: 50px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.background-image img{
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    
}

